<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="KMSEmulator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <KMSEmulator.Properties.Settings>
      <setting name="Port" serializeAs="String">
        <value>1688</value>
      </setting>
      <setting name="VLActivationInterval" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="VLRenewalInterval" serializeAs="String">
        <value>10080</value>
      </setting>
    </KMSEmulator.Properties.Settings>
  </applicationSettings>
</configuration>
